<div class="main-container">
  <h2 class="add-set-header">Dodaj set</h2>
  <div class="add-set-container">
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="number" id="weight" [(ngModel)]="weight" required>
    </div>

    <div class="form-group">
      <label for="repetitions">Repetitions:</label>
      <input type="number" id="repetitions" [(ngModel)]="repetitions" required>
    </div>
  </div>

  <div class="button-group">
    <button (click)="onAddSet()">Wprowadź</button>
    <button (click)="onClose()">Zamknij</button>
  </div>
</div>
