<div class="register-container">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Zarejestruj się</h2>

    <!-- Display alert for invalid email format -->
    <div class="alert alert-danger" *ngIf="!isValidEmail(userData.email) && registerForm.submitted">
      Proszę wprowadzić poprawne hasło
    </div>

    <!-- Display alert for invalid password format -->
    <div class="alert alert-danger" *ngIf="!isPasswordValid(userData.password) && registerForm.submitted">
      Password must be at least 6 characters long and contain at least 1 digit.
    </div>

    <!-- Display alert for password and confirm password mismatch -->
    <div class="alert alert-danger" *ngIf="userData.password !== userData.confirmPassword && registerForm.submitted">
      Passwords do not match. Please enter the same password in both fields.
    </div>

    <!-- Display alert for existing email -->
    <div class="alert alert-danger" *ngIf="errorMessage && registerForm.submitted">
      {{ errorMessage }}
    </div>

    <div class="form-group">
      <label for="email">
        <i class="fa fa-envelope"></i> Email
      </label>
      <input type="email" id="email" name="email" [(ngModel)]="userData.email" required>
    </div>

    <div class="form-group">
      <label for="username">
        <i class="fa fa-user"></i> Username
      </label>
      <input type="text" id="username" name="username" [(ngModel)]="userData.username" required>
    </div>

    <div class="form-group">
      <label for="password">
        <i class="fa fa-lock"></i> Hasło
      </label>
      <input type="password" id="password" name="password" [(ngModel)]="userData.password" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">
        <i class="fa fa-lock"></i> Potwierdź hasło
      </label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userData.confirmPassword" required>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
