<nav>
  <ul class="navbar-left">
  </ul>
  <ul class="navbar-right">
    <li class="dropdown" (click)="toggleDropdown()" [class.open]="isDropdownOpen">
      <div class="profile">
        <img src="/assets/profile-icon.png" alt="Profil" class="profile-icon"> 
        <span>{{ activeUser.username }}</span>
      </div>
      <ul class="dropdown-menu" *ngIf="isDropdownOpen">
        <li><a routerLink="/user-profile">Mój profil</a></li>
        <li (click)="logout()">Wyloguj się</li>
      </ul>
    </li>
  </ul>
</nav>
