
<div  class="training-container">
  <div class = "individual-training-container">
  <h3 (click)="toggleDetails(training.id)" [class.highlighted]="showDetails">
        <mat-icon>date_range</mat-icon>
        {{ training?.trainingDate | date:'yyyy-MM-dd' }}
        
    </h3>
    <mat-icon class="delete-icon" (click) ="deleteTraining(training.id)">delete</mat-icon>

    
  </div>
    <div *ngIf="showDetails" class="details-container">
     
      <h4 (click) = "openAddExerciseDialog(training.id)"><mat-icon>add_circle</mat-icon><strong>Dodaj ćwiczenie</strong></h4>
    
      <div *ngFor="let set of groupedSets | keyvalue">
        <h1> <a [routerLink]="['/progress-chart', set.key,getExerciseName(set.key)]">{{ getExerciseName(set.key) }}</a> <mat-icon (click)="deleteExerciseSets(set.key,training.id)">delete</mat-icon></h1>
        <h4 (click)="openAddSetDialog(training.id,set.key)">
          <mat-icon>fitness_center</mat-icon>
          <strong>Dodaj set</strong>
        </h4>
        <table class="set-table">
          <thead>
            <tr>
              <th>Set</th>
              <th>Repetitions</th>
              <th>Weight</th>
              <th>Edytuj</th>
              <th>Usuń</th>
            </tr>
          </thead>
          <!-- ... (your existing code) ... -->

          <tbody>
            <tr *ngFor="let s of set.value; let i = index" class="set-item">
              <td>{{ i + 1 }}</td>
              <td *ngIf="!s.isEditing">{{ s.repetitions }}</td>
              <td *ngIf="!s.isEditing">{{ s.weight }}</td>
              <td *ngIf="s.isEditing"><input type="text" [(ngModel)]="s.repetitions" /></td>
              <td *ngIf="s.isEditing"><input type="text" [(ngModel)]="s.weight" /></td>
              <td *ngIf="!s.isEditing">
                <mat-icon (click)="toggleEdit(s)">edit</mat-icon>
              </td>
              <td *ngIf="s.isEditing">
                <mat-icon (click)="saveEdit(s)">done</mat-icon>
              </td>
              <td (click)="deleteSet(s.id)"><mat-icon>delete</mat-icon></td>
            </tr>
          </tbody>

<!-- ... (your existing code) ... -->

        </table>
      </div>
    </div>
  </div>
  