

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.dark-theme {
  background-color: #121212;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/assets/home-background.webp');
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
}

.feature {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #444;
  margin: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.feature:hover {
  background-color: #777171; 
  cursor: pointer; 
}
.description-space {
  margin-top: 20px; /* Adjust the value as needed */
}

