<div class="container">
  <div class="left-section">
    <h2>Witaj, {{ activeUser.username }}</h2>
    <button routerLink="/my-trainings">Moje treningi</button>
    <button routerLink="/progress">Moje postępy</button>
    
    <div class="weight-section">
      <label for="weightInput">Twoja waga na dzisiaj (kg):</label>
      <div class="weight-input">
        <input type="number" id="weightInput" [(ngModel)]="userWeight" placeholder="Podaj wagę">
        <button class="weight-input-button" (click)="saveWeight()">Zapisz</button>
      </div>
      <a class="edit-weight" (click)="editWeight()">Edytuj wagi</a>
    </div>

    <!-- Wykres wagi -->
    <div class="chart-container">
      <apx-chart 
        [series]="chartOptions.series" 
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis">
      </apx-chart>
    </div>
  </div>

  <div class="right-section">
    <div class="calendar-container">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [dateClass]="dateClass" (selectedChange)="onDateClick($event)"></mat-calendar>
        <div class="calendar-legend">
          <div class="legend-item">
            <span class="legend-color completed"></span> Trening wykonany
          </div>
          <div class="legend-item">
            <span class="legend-color upcoming"></span> Planowany trening
          </div>
          <div class="legend-item">
            <span class="legend-color no-training"></span> Brak treningu
          </div>
        </div>
      </mat-card>
      
      <div class="workout-summary">
        <h2>Gratulacje!</h2>
        <p>W tym miesiącu zrobiłeś trening {{ trainingCount$ | async }} razy.</p>
        <button class="add-training-button" (click)="openAddTrainingModal()">Dodaj trening</button>
        
      </div>
      <!-- Modal do dodawania treningu -->
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <h3>Dodaj nowy trening</h3>

      <label for="trainingName">Nazwa treningu:</label>
      <input type="text" id="trainingName" [(ngModel)]="newTraining.name">

      <label for="trainingDate">Data treningu:</label>
      <input type="date" id="trainingDate" [(ngModel)]="newTraining.trainingDate">

      <label for="trainingPlan">Wybierz plan treningowy:</label>
      <select id="trainingPlan" [(ngModel)]="selectedTrainingPlan" (change)="loadPlanTrainings()">
        <option *ngFor="let plan of trainingPlans" [value]="plan.id">{{ plan.name }}</option>
      </select>

      <label for="planTraining">Wybierz trening z planu:</label>
      <select id="planTraining" [(ngModel)]="selectedPlanTraining">
        <option *ngFor="let training of planTrainings" [value]="training.id">{{ training.name }}</option>
      </select>

      <div class="modal-buttons">
        <button (click)="addTraining()">Zapisz</button>
        <button class="cancel-button" (click)="closeAddTrainingModal()">Anuluj</button>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
