.login-container {
    background-image: url('/assets/login-background.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form for readability */
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Rest of your existing styles */
  
  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin: 15px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  