
div {
    margin: 20px;
    
    
  }
  /* Add this to your global styles or component styles */
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .datepicker-container {
    margin-left: auto;
  }

 
  h2 {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px; /* Adjust the font size as needed */
    display: flex; /* Use flexbox for positioning */
    align-items: center; /* Center items vertically */
    border: solid 2px #ccc; /* Add a border to all links */
   
}

/* Add this CSS in your component's style file, e.g., your-component.component.css */

.addTrainingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  
}
.custom-button {
  
  margin-top: -20px;
  margin-right: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


mat-form-field {
  margin-right: 10px;
  min-width: 200px; /* Adjust as needed */
}


  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Dodaj styl dla nieparzystych elementów listy */
  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  

  